body, html {
	font-family: 'Lato', sans-serif;
	line-height: 1.375em;
}

body {
	padding: 2em;
}

h1 {
	font-weight: bold;
	font-size: 4em;
	line-height: 1.25em;
	margin: 1em 0;
}

p {
	margin: 1em 0;
}

.date {
	font-weight: bold;
	font-size: 2em;
}


map-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.map-responsive iframe{
	height:100%;
	width:100%;
	position:relative;
}
