<!doctype html>

<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150806794-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-150806794-1');
    </script>

    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{event.name}}</title>
    <meta name="description" content="{{event.name}}">

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../styles.css?v=2.0">

</head>

<body>
<div class="content">
<section class="covid text">
    <h3>🦠 {{covid.header}} 🦠</h3>
    {{{covid.text}}}
</section>
<section class="text">
    <h1>{{event.name}}</h1>
</section>
    <img src="../cover2-1024.jpg" alt="" />
<section class="text">
    {{{homepage.intro1}}}
    <p class="prev date">{{event.prevDate}}</p>
    <p class="date">{{event.date}}</p>
    {{{homepage.intro2}}}

    <p>
        <a href="{{{calendar.google.link.href}}}">
            {{calendar.google.link.text}}
        </a>
    </p>
</section>

<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2342.091786129208!2d18.00587151613204!3d54.05437928013356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4702798d6409f65b%3A0x6bb224b560ca0e8a!2sStawiska.%20O%C5%9Brodek%20szkoleniowo%20-%20wypoczynkowy!5e0!3m2!1sen!2suk!4v1571346013527!5m2!1sen!2suk" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

</div>
</body>
</html>
